
/* RESET */
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
	font-family: 'Oswald', sans-serif;
	background-color: var(--primary);
}
button{
	font-family: 'Oswald', sans-serif;
}
li{
    list-style-type: none;
}

/* VARIABLER */
:root{
    --primary: #1C1C1C;
    --secondary: #114084;
    --lighter-primary: #808080;
    --lighter-secondary: #3466AA;
}

/*grid and start styling*/

header,
section,
main
{
	border: 1px solid black;
	min-height: 100px;
}
.grid{
    display: grid;
	grid-template-columns: repeat(8, 1fr);
}
* {
	box-sizing: border-box;
  }

/* MOBIL STYLING */


/* nav meny styling */
#nav-ul{
    display: none;
    height: 220px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: -50px 15px -50px 15px;

}
.nav-ul li a{
   display: block;
   margin: 0px 15px 15px 15px;
   text-align: center;
}
.hamburger{
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    width: 25px;
    height: 25px;
    background-image: url(../bilder/hamburger-menu.png);
    background-size: cover;
    border: none;
    background-color: transparent;
} 
ul {
    width: 100%;
  }

li a:hover{
    color: var(--secondary);
}


/* searchbar and background image styling */
#title-section{
  position: relative;
  text-align: center;
}
#title-section img{
  width: 100%;
  opacity: 0.2;
}

#title-section h2{
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}


/* kategori styling */
#categories{
  position: relative;
}
#categories button{
  width: 80px;
  height: 80px;
  border: 1px solid var(--lighter-secondary);
  border-radius: 50%;
  background-color: transparent;
  color: white;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 20px;
}
#categories a{
  font-size: 12px;
  text-align: center;
  width: 75px;
  height: 75px;
  border: 1px solid var(--lighter-secondary);
  border-radius: 50%;        
  background: transparent;
  display: block;
  padding-top: 28px;
}
#categories a:hover{
  background-color: var(--secondary);
}
.active{
  color: var(--secondary);
}



/* sort by styling */

.sort-list{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.sort-list a{
	color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {
  display: block;
}
.sort-button {
	background-color: var(--secondary);
	color: white;
	padding: 6px;
	font-size: 12px;
	border: none;
  cursor: pointer;
  }



/* card styling */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	padding: 16px;
	text-align: center;
  background-color: var(--secondary);
  }
  .card p{
    background-color: var(--secondary);
    text-shadow: 0.5px 0.5px black;
  }
  .card a{
    padding: 5px;
    width: 50px;
  }
  .card a:hover{
     color: var(--secondary);
  }
  .card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
.column {
	float: left;
	width: 50%;
	padding: 10px;
  }
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
 .card img{
   width: 100%;
   background-color: white;
   height: 180px;
 }


 
/* footer styling */
footer{
	padding: 30px 20px;
	background-image: url(../bilder/708929-200.png);
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: top center;
}
footer .copyright{
	grid-column: 1/3;
	font-size: 0.8em;
	color: var(--lighter-primary);
}
		
footer .socials{
	grid-column: 7/9;
	display: flex;
	justify-content: flex-end;
}
footer li{
	margin: 0 6px;
}
footer img{
	width: 20px;
}






/* SMÅ TABLETS */
@media screen and (min-width: 620px){

}

/* STORA TABLETS OCH LAPTOPS */
@media screen and (min-width: 960px){
	
}

/* STORA DESKTOP SKÄRMAR */
@media screen and (min-width: 1200px){
	
	
		
}